<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>任务九：使用HTML/CSS实现一个复杂页面</title>
    </head>
    <body>
        <header>
            <nav class="top-nav"></nav>
            <div role="search" class="top-search">
                <form>
                    <label for="q"></label>
                    <input type="text" class="top-search-input" id="q"/>
                    <button type="submit">
                        <span>搜索</span>
                        <span></span>
                    </button>
                </form>
            </div>
        </header>
        <section class="container">
            <nav class="sidebar-nav">
                
            </nav>
            <div class="nav-content">
                <div role="navigation">
                    <ul>
                        <li><a>c站</a>/</li>
                        <li><a>个人报表</a>/</li>
                        <li><a>文件一</a>/</li>
                        <li><a>文档一</a></li>
                    </ul>
                </div>
                <div role="main" class="content">
                </div>
            </div>
        </section>
    </body>
</html>
