<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <title>Task1</title>
  </head>
  <body>
    <header>
      <h1>网站一级标题</h1>
      <nav>
	<ul>
	  <li><a href="#">导航链接一</a></li>
	  <li><a href="#">导航链接二</a></li>
	  <li><a href="#">导航链接三</a></li>
	  <li><a href="#">导航链接四</a></li>
	</ul>
      </nav>
    </header>
    <div class="container">
      <article>
	<h2>文章一级标题</h2>
	<h2>文章二级标题</h2>
	<p>文章作者 <time pubdate="2016-03-14">文章发表时间</time></p>
	<p>这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，换行了<br />这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，换行了<br />这是一个很长很长的段落，这是一个很长很长的段落，<a href="http://ife.baidu.com">这里有一个链接链接到http://ife.baidu.com</a>这是一个很长很长的段落，这是一个很长很长的段落，<b>这里有个粗体字</b>这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落。</p>
	<img src="http://www.w3school.com.cn/i/eg_tulip.jpg" alt="上海鲜花港 - 郁金香" width="400" height="266" />
      </article>
      <article>
	<h2>另一篇文章一级标题</h2>
	<h2>文章二级标题</h2>
	<p>文章作者 <time pubdate="2016-03-14">文章发表时间</time></p>
	<p>这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，换行了<br />这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，换行了<br />这是一个很长很长的段落，这是一个很长很长的段落，<a href="http://ife.baidu.com">这里有一个链接链接到http://ife.baidu.com</a>这是一个很长很长的段落，这是一个很长很长的段落，<b>这里有个粗体字</b>这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落，这是一个很长很长的段落。</p>
	<img src="http://www.w3school.com.cn/i/eg_tulip.jpg" alt="上海鲜花港 - 郁金香" width="400" height="266" />
	<ul>
	  <li>列表项目一</li>
	  <li>列表项目二</li>
	  <li>列表项目三</li>
	</ul>
	<section>
	  <h2>图片</h2>
	  <p>好看的图片</p>
	  <img src="http://www.w3school.com.cn/i/eg_tulip.jpg" alt="上海鲜花港 - 郁金香" width="400" height="266" />

	  <p>好看的图片</p>
	  <img src="http://www.w3school.com.cn/i/eg_tulip.jpg" alt="上海鲜花港 - 郁金香" width="400" height="266" />

	  <p>好看的图片</p>
	  <img src="http://www.w3school.com.cn/i/eg_tulip.jpg" alt="上海鲜花港 - 郁金香" width="400" height="266" />

	  <p>好看的图片</p>
	  <img src="http://www.w3school.com.cn/i/eg_tulip.jpg" alt="上海鲜花港 - 郁金香" width="400" height="266" />
	</section>
      </article>
      <article>
	<h2>最后一篇文章一级标题</h2>
	<h2>文章二级标题</h2>
	<p>文章作者 <time pubdate="2016-03-14">文章发表时间</time></p>
	<ol>
	  <li>排名1</li>
	  <li>排名2</li>
	  <li>排名3</li>
	</ol>
	<p>下面是一个表格，给表格加了一个border="1"好让你看出是一个表格</p>
	<table border="1">
	  <caption>Balance table</caption>
	  <thead>
	    <tr>
	      <th>Month</th>
	      <th>Savings</th>
	    </tr>
	  </thead>

	  <tfoot>
	    <tr>
	      <td>Sum</td>
	      <td>$180</td>
	    </tr>
	  </tfoot>

	  <tbody>
	    <tr>
	      <td>January</td>
	      <td>$100</td>
	    </tr>
	    <tr>
	      <td>February</td>
	      <td>$80</td>
	    </tr>
	  </tbody>
	</table>
	
      </article>
    </div>
    <div>
      <h2>这以后是一个侧边栏，这是侧边栏的标题</h2>
      <h2>侧边栏注册窗口标题</h2>
      <form method="POST" action="/">
	<label for="email_input">请输入邮箱地址：</label>
	<input id="email_input" type="text" placeholder="这是一个文本输入框"/><br />邮箱地址请按要求格式输入<br />
	<label for="password_input">请输入密码：</label>
	<input id="password_input" type="password" placeholder="请输入密码" />
	<label for="repeat_password">请重复输入密码：</label>
	<input id="repeat_password" type="password" placeholder="请输入密码"/>
	密码请为6-16位英文数字<br />
	<label>性别：</label>
	<label for="male">男</label>
	<input type="radio" name="sex" id="male" />
	<label for="female">女</label>
	<input type="radio" name="sex" id="female" />
	<label for="city">城市：</label>
	<select id="city">
	  <option>北京</option>
	</select>
	<input type="checkbox" name="sport" value="sport" title="运动" />运动
	<input type="checkbox" name="art" value="art" title="艺术" />艺术
	<input type="checkbox" name="science" value="science" title="科学" />科学&nbsp;
	个人描述：<textarea placeholder="这是一个多行输入框，输入您的个人描述"></textarea>
	<input type="submit" />
	
      </form>
    </div>
  </body>
</html>
